# Kubernetes secrets
*.secret
*.secret.yml
*/**/secrets.yml
*/**/basic-auth.yml
*/**/private-registry-secret.yml
.DS_Store
kubeseal.public.pem
kubeseal.public.pem.backup
kubeseal.public.dev.pem
kubeseal.public.dev.pem.backup
.vscode
*.sql
secret_to_encode
secret_to_decode
